[Desktop Entry]
Encoding=UTF-8
Name=Link to 
Type=Link
URL=http://htmlpreview.github.com/?https://github.com/a904guy/Boxee-Remote-Web-Version/blob/master/remote.html#
Icon=/home/mike/Dropbox/Unity/Boxee Logo.png
Name[en_US]=Boxee Remote
