[Desktop Entry]
Version=1.0
Name=Boxee
Exec=/opt/google/chrome/google-chrome "--app=http://htmlpreview.github.com/?https://github.com/a904guy/Boxee-Remote-Web-Version/blob/master/remote.html#"
Terminal=false
Icon=/home/mike/Dropbox/Unity/Boxee Logo.png
Type=Application
Categories=Network;WebBrowser;
StartupWMClass=htmlpreview.github.com
